{% include 'header.html' %}



<div class="container">
    {% for producto in productos %}
    <form method="POST" action="/update" enctype="multipart/form-data">
        <div class="card">
            <div class="card-header">
                Editar producto
            </div>
            <div class="card-body">
                <h5 class="card-title">Datos del producto</h5>
                <p class="card-text">
                    <input type="text" name="txtId" value="{{producto[0]}}" id="txtId">
                    <br>
                    Descripcion
                    <input type="text" name="txtDescripcion" value="{{producto[1]}}" id="txtDescripcion">
                    <br>
                    Precio:
                    <input type="text" name="txtPrecio" value="{{producto[2]}}" id="txtCorreo">
                    <br>
                    Cantidad:
                    <input type="text" name="txtCantidad" value="{{producto[3]}}" id="txtCorreo">
                    <br>
                    <!--Llamo al metodo uploads y le mando la foto-->
                    <img class="img-thumbnail" src="{{url_for('uploads',nombreFoto=producto[4])}}" alt="foto producto"
                        width="100">
                    <input type="file" name="txtFoto" value="{{producto[4]}}" id="txtFoto">
                    <br><br>
                    <input type="submit" value="Aceptar">
                    <br>
                </p>
            </div>
        </div>
    </form>
    {% endfor %}
    </h1>
</div>
{% include 'footer.html' %}

