</div>
<div class="bg-dark text-white">
    <div class="row container-fluid text-center">
        <div class="col redes-sociales">
            <a href="www.facebook.com"></a><i class="fab fa-facebook-square"></i>
            <a href="www.twitter.com"></a><i class="fab fa-twitter-square"></i>
            <a href="www.instagram.com"></a><i class="fab fa-instagram-square"></i>
            <a href=""></a><i class="fab fa-telegram-plane"></i>
            <a href=""></a><i class="fab fa-whatsapp-square"></i>
        </div>
    </div>
    <div class="row container-fluid text-center">
        <div class="col">
            <p><i class="far fa-copyright"></i>&nbsp Vector Design News</p>
        </div>
    </div>
</div>
</body>

</html>