<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Vector Design</title>
</head>

<body>

    <div class="d-flex flex-row align-items-center">
        <div class="col-2">
            <a href=" / ">
                <img id="logo " src="/static/imagenes/logo/logo_design.JPG" width="80%">
            </a>
        </div>
        <div class="col">
            <form class="form-inline" method="POST" action="/search">
                <div class="row">
                    <div class="col">
                        <input class="form-control form-control" type="text" name="txtSearch" placeholder="Buscar producto...">
                    </div>
                    <div class="col">
                        <input class="btn text-white bg-dark" type="submit" value="Buscar">
                    </div>
                </div>
            </form>
        </div>
        {% if not session.usuario %}

        <div class="col-2 ">
            <div id="signInButton ">
                <a class="link " style="color: black; " href="/login ">Sign In</a>
            </div>
        </div>
        {% else %}
        <div class="col-2 ">
            <div class="row align-items-center ">
                <div class="col ">Bienvenido, <br>{{session.usuario}} Productos {{registro}}
                </div>
                <div class="col ">
                    <!--
                    <a href="/carrito ">Pedidos</a>
                    <a href="# ">Perfil</a>
                    <hr>
                    -->
                    <a href="/logout ">Logout</a>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="col-1 ">
            <div class="row align-items-center ">
                <div class="col ">
                    <a href="/carrito "><img src="/static/imagenes/cart_shop.png " width="60px " id="cartIcon " /></a>
                </div>
                {% if session.usuario %}
                <div class="circulo">
                    <p>{{mostrarCuantos}}</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>